{% extends 'base.html.twig' %}

{% block content %}
    <h1>Public holidays list grouped by a month</h1>

    {% for month, monthData in holidaysForYearData %}
        <li>{{ month }}</li>
        {% for key, value in monthData %}
            <li>{{ value.name[1].text }}({{ value.name[0].text }})</li>
        {% endfor %}
    {% endfor %}

    <h1>Total amount of a public holidays {{ holidaysForYearData | length }}</h1>

    <h1>status(workday, free day, holiday) for a current day</h1>
    <li>IsWorkDay -
        {% if isTodayWorkDay['isWorkDay'] %}
            YES
        {% else %}
            NO
        {% endif %}
    </li>
    <li>IsPublicHoliday -
        {% if isTodayPublicHoliday['isPublicHoliday'] %}
            YES
        {% else %}
            NO
        {% endif %}
    </li>

{% endblock %}

