{% extends 'base.html.twig' %}

{% block content %}
    <h1>Layout</h1>

    {% for test in tests %}
        <p>{{ test }}</p>
    {% endfor %}

    {% block page_contents %}{% endblock %}
{% endblock %}